<!doctype html>
<section>
    <div class="row py-4 px-5" style="background: #fff;margin: 0;">
        <div class="col-12 py-1  px-0">
            <h3>SOBRE MÌ</h3>
        </div>
    
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 py-3 px-0">
            <div class="container-left-about ">
                <h4 class="px-4">
                    <em><i>PATRICIA VALDEBENITO PANES</i></em>
                </h4>
    
                <div class="container-img-about pt-4">
                    <img src="../../assets/img/3EVErORx_400x400.jpg" alt="photograph patricia valdebenito developer" class="img-fluid img-developer">
                </div>
            </div>
        </div>
    
        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 description-about py-3  px-0">
            <p>
    
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque blanditiis
                necessitatibus iste totam nemo. Dolorum expedita ipsa
                quibusdam possimus officiis quam, ipsam alias consequatur et voluptas. Nam odio
                est rerum.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero repellat iste,
                fuga fugit doloremque et. Totam nihil veritatis iure
                adipisci vero asperiores, tempora saepe molestiae consequuntur culpa. Architecto, unde!
    
            </p>
            <div style="display: flex; justify-content: center;margin-top: 3em;">
                <a class="btn  button-home-project" routerLink="/project">¡ Ver Proyectos !</a>
            </div>
         
        </div>
    </div>
</section>
