
p{
    color: #7a356d;
}

.button-home-project{
box-shadow: 0px 0px 6px 0px #6f3367;
color: #6f3367;
}

.button-home-project:hover{
    box-shadow: 0px 0px 6px 0px #fff;
color: #fff;
background-color: #6f3367;
}

.container-left-about{
 display: flex;
 flex-direction: column;
}

.container-img-about{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    min-width: 100px;
    min-height: 100px;
    padding: 1em 0em; 
}

.img-developer{
    width: 50%;
    max-width: 300px;
    margin: 0rem auto;
    border: 4px solid #fff;
    border-radius: 0px 30px;
}


@media screen and (max-width:768px){
    .container-img-about{
        background: url(../../assets/img-license/a.png) no-repeat center center fixed; 
  
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
}

@media  (min-width: 576px){
   .img-developer{
       width: 35%;
   }
}

@media   (min-width: 768px){
   .img-developer{
       width: 65%;
       margin-top: 0%;
       margin-left: 0%;
   }
   .container-left-about{
    padding: 0rem 2.5rem 0rem 2.5rem;
   }
   .description-about{    
       padding: 3.5rem 5rem 0rem 0rem;
    }
  
    .container-img-about{
        background: #f4f4f4; 
        border-radius: 0px 30px 0px 30px;
    }
       
}

@media  (min-width: 992px){
 
    .container-left-about,.description-about{    
       zoom: 1.25;
     }
 
 
 }





/*
.description-about{

}
 @media screen and (min-width: 1200px) and (max-width: 1999px){}
  @media screen and (min-width: 992px) and (max-width: 1199px){}
   @media screen and (min-width: 768px) and (max-width: 991px){}
   @media screen and (min-width: 576px) and (max-width: 767px) {}
   @media screen and  (max-width: 575px) {}
*/


