<!doctype html>
<div class="row" style="background: #fff;">

    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
       <div class="container-img-about">
            <h3>PATRICIA VALDEBENITO PANES</h3>
            <img src="../../assets/img/3EVErORx_400x400.jpg" alt="photograph patricia valdebenito developer" class="img-fluid img-developer" >
        </div>
    </div>
    
    <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 description-about">
        <p>
            
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque blanditiis 
            necessitatibus iste totam nemo. Dolorum expedita ipsa 
            quibusdam possimus officiis quam, ipsam alias consequatur et voluptas. Nam odio 
            est rerum.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero repellat iste,
            fuga fugit doloremque et. Totam nihil veritatis iure 
            adipisci vero asperiores, tempora saepe molestiae consequuntur culpa. Architecto, unde!
    
    </p>
    </div>
</div>

