
.project-container-general{
    border-radius: 15px;
    text-align: center;
    border: 1px solid #140e2570;
    padding: 0.5rem;
}

.representation-img-project{
    max-width: 200px;
    text-align: center;
  

}

.name-project{
    color: #140f25;
    margin: 1rem;
}

.li-description b{
    color: #8f3d7b;
    padding-right: 10px;
}

.btn-outline{

border-color:#c84d89;
}
.btn-outline a{
    color:#c84d89;
}

@media (min-width:767px){
    .project-container-general{
    border: 1px solid #140e251f;
    padding: 1rem;
    margin: 0px 10px;
    }

  
}

@media(min-width:1024px){
    .project-container-general{
        min-height: 540px;
    }
}