<!doctype html>
<section>
    <div class="row py-4 px-5">
        <div class="col-12 py-1  px-0">
            <h3>CONTACTO</h3>
        </div>

        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 py-3 px-0">

            <a href="btn btn-download-cv"><i class="fas fa-file-download" style="margin-right: 10px;"></i>Descarga <br>Curriculum</a>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 py-3 px-0">
            <div>
                <ul>
                    <li>
                        <a href="btn btn-download-cv"><i class="fas fa-file-download" style="margin-right: 10px;"></i>LinkedIn</a>
                    </li>
                    <li>
                        <a href="btn btn-download-cv"><i class="fas fa-file-download" style="margin-right: 10px;"></i>GitHub</a>
                    </li>
                    <li>
                        <a href="btn btn-download-cv"><i class="fas fa-file-download" style="margin-right: 10px;"></i>volver a Home</a>
                    </li>
                    <li>
                        <a href="btn btn-download-cv"><i class="fas fa-file-download" style="margin-right: 10px;"></i>volver a Proyectos</a>
                    </li>
                    <li>
                        <a href="btn btn-download-cv"><i class="fas fa-file-download" style="margin-right: 10px;"></i>Perfil Laboratoria</a>
                    </li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</section>