header{height: 10vh;}
nav{
    position: relative; 
    left: 0%;
    top: 0px;
    width: 100%;
    background:transparent;
}

nav a.nav-link{
  color: #fff;


}
.nav-style{
    display: flex;
     flex-direction: row;
     justify-content: space-between;
}


.container-logo-home{
  display:none;
}



nav a.nav-link:hover{
    color: #8b3e7c;
   
    font-size:1.25em;
   /* border-bottom: 1px solid #fff;*/
}


@media (min-width: 2000px) { 
    nav{
      height: 60px;
    }

    nav a.nav-link{
     
      font-size:1.5em;
  }
  }

   @media screen and (min-width: 1200px) and (max-width: 1999px)  { 
    nav{
      height: 50px;
    }
    nav a.nav-link{

      font-size:1.5em;
  }
  }



  @media screen and (min-width: 800px) and (max-width: 1199px)  { 
    nav{
      height: 50px;
    }
    nav a.nav-link{

      font-size:1.25em;
  }
  }

  @media screen and (min-width: 500px) and (max-width: 799px)  { 
    nav{
      height: 40px;
    }
    nav a.nav-link{

      font-size:1.15em;
  }
  }

  @media screen and (max-width: 500px)  { 
    nav{
      height: 40px;
    }
    nav a.nav-link{

      font-size:1em;
  }
  }


  /*consideracion*/
    @media (min-width:992px){
    .container-logo-home{
      display:block;
    }
    .container-logo-home div{
      display: flex;
      height: 100%;
      align-items: center;
     }
     .container-logo-home div a{
      color: #fff;
      font-size: 1.25em;
     }

     .container-logo-home div a:hover{
      color: #8b3e7c;
      font-size: 1.25em;
     }
  }

  @media(min-width:575px){
    ul.nav.ul-more-option{
      margin-right: 1em;
    }
  }