.skill-container-general{
    margin: 16px;text-align: center;
}
svg:not(:root).svg-inline--fa{max-width: 60%;}

.img-skill{
    width: 60px;
    margin-top: 1rem;
}


@media(min-width:361px){
    .img-skill{
        width: 72px;
        margin-top: 1rem;
    }
}


@media(min-width:576px){
    .img-skill{
        width: 90px;
        margin-top: 1rem;
    }
}
@media(min-width:768px){
    .img-skill{
        width: 112px;
        margin-top: 1rem;
    }
}



@media(min-width:992px){
    
.img-skill{
    width: 140px;
    margin-top: 1rem;
}
}