<!doctype html>
<ul class="nav fixed-top justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/project">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/skill">Skill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
   
    
    </ul>
<app-menu></app-menu>

<router-outlet></router-outlet>