/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
     font-size: 1em;
     font-family: 'Roboto Condensed', sans-serif;
     max-zoom: 1.5;
     min-zoom: 0.7;
}

body{
    background-color: #140f25;
    height: 100vh;
    max-width: 100%;
}

section{
    background-color: #feffff;
}

ul{list-style:none;}

 p{ text-align: justify;}


h4{text-align: center;}
h3{
    /*padding: 2rem 2rem 1rem 2rem;*/
    color:#8f3d7b;
}

h4{
    color:#c84d89;
}

.button-home-project{
    background-color: #fff;
    font-weight: 600;
    box-shadow: 3px 3px #6f3367;
  }