<!doctype html>
<!--
                 None (auto)	 540px	     720px	     960px	     1140px
Class prefix	.col-	        .col-sm-	.col-md-	.col-lg-	.col-xl-
col-sm- col-md- col.lg- col-xl-
-->

<main>

    <div class="row">


        <div class="col-12 col-sm-9 col-md-10 col-lg-5 col-xl-5 py-4 px-5">

            <div class="presentation-section p-3">

                <p>Hi! </p>

                <h2 class="mt-4">Mi nombre es Patricia Valdebenito</h2>

                <hr>

                <h1 class="mt-5">Front End Developer</h1>
                <br>

                <p>Te invito a conocer mis proyectos </p>
                <a class="btn btn-block mb-4 button-home-project" routerLink="/project">Proyectos</a>

            </div>

        </div>


        <div class="col-12 col-sm-3 col-md-2 col-lg-7 col-xl-7 py-2 px-5">


            <div class="container-logo-contact px-5">
                <section class="section-contact-home  py-3">
                    <a href="https://github.com/Patriciavaldebenito" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/patricia-valdebenito" target="_blank">
                        <i class="far fa-envelope"></i>
                    </a>
                    <a href="" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </section>
            </div>



            <!--
            <div class="one-projects-section">
            </div>-->


        </div>


    </div>

</main>