<!doctype html>
<!--
                 None (auto)	 540px	     720px	     960px	     1140px
Class prefix	.col-	        .col-sm-	.col-md-	.col-lg-	.col-xl-
col-sm- col-md- col.lg- col-xl-
-->

<main class="main_gradient" style="margin: 1em;">

    <div class="row"> 


        <div class="col-12 col-sm-9 col-md-10 col-lg-5 col-xl-5">
           
            <div class="presentation-section">
                                <!--class="presentation-container-->
             
                                <p style="margin-top: 5%;">Hi!   </p>
                
                                <h2>Mi nombre es Patricia Valdebenito</h2> 
                               
                                <hr style="margin-top: 5%;">
                               
                                <h1 style="margin-top: 5%;">Front End Developer</h1>
                            
                                <p style="margin-top: 5%;">Te invito a conocer mis proyectos </p>
                                <button class="btn" style="margin-top: 5%;background: #fff;color: black;">¡Proyectos!</button>
            </div>
         
        </div>


        <div class="col-12 col-sm-3 col-md-2 col-lg-7 col-xl-7 "> 
         
           <section class="section-contact-home">
             <div class="container-logo-contact">
              <i class="fab fa-github"></i>
              <i class="far fa-envelope"></i>
              <i class="fab fa-linkedin"></i>
             </div>
      
           </section>


            <div class="one-projects-section">
            </div>

        
        </div>


    </div>

</main>


